.pantheon-container {
    padding-left: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1em;
    margin-right: auto;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-size: 14px;
    background-color: #333333;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

#pantheon-logo{
	font-size: 1.5em;
    line-height: 1em;
    color: #fcfcfc;
}
